body {
    background-color: rgb(233, 255, 230);
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    color: rgb(59, 9, 105);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    font-size: 50px;
    margin: 10px 0px 0px 0px; 
}

h3 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: rgb(3, 58, 10);
    font-size: 36px;
    margin: 15px 0px 0px 0px;
}

h4 {
    font-family: 'Jua', sans-serif;
    text-align: center;
    color: rgb(3, 58, 10);
    font-size: 36px;
    margin: 5px 0px 0px 0px;
}

#h4b {
    margin: 5px 0px 15px 0px;
}

p {
    font-family: 'Jua', sans-serif;
    text-align: center;
    color: rgb(78, 22, 116);
    font-size: 32px;
    margin: 16px 0px 0px 0px;
}

#row {
    text-align: center;
}

#picContainer {
   height: 420px;
   width: auto;
   text-align: center;
    
}

#imageWrap {
   display: inline-block;
   position: relative;
   width: auto;
   height: 400px;
}

img {
    display: block;  
    height:400px;
    border: rgb(78, 22, 116);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

#compScreen {
    line-height: smaller;
    vertical-align: middle;
    text-align: center;
    z-index: 3;
    height: 55px;
    width: 50px;
    font-family: 'Jua', sans-serif;
    font-size: 60px;
    color: black;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 72.75%;
    top: 4%;
}

/* #rightPanel {
    vertical-align: top;
    display: inline-block;
    text-align: top;
    
} */

#leftPanel {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    line-height: 50px;
}
/* rgb(248, 248, 219) */
.button {
    font-family: 'Jua', sans-serif;
    font-weight: bold;
    background-color: rgb(61, 13, 94);
    border: rgb(181, 211, 184);
    color: rgb(181, 211, 184);
    border-style: solid;
    border-width: 10px;
    border-radius: 20px;
    width: 140px;
    padding: 3px 32px 3px 32px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    margin: 10px 9px 0px 9px;
    cursor: pointer;
}

button:hover {
    border-style: outset;
    background-color: rgb(98, 13, 155);
    color: rgb(111, 255, 135);
    border-color: rgb(111, 255, 135);

}

button:focus {
    outline:0;
}

/* @media screen and (max-width: 1800px) {
    #imageWrap {
        display: inline-block;
        width: auto;
        height: 400px;
        position: relative;
        left: 35%;
     }
}

@media screen and (max-width: 1600px) {
    #imageWrap {
        display: inline-block;
        width: auto;
        height: 400px;
        position: relative;
        left: 35%;
     }

} */

/* @media screen and (max-width: 980px) {
    #imageWrap {
        display: inline-block;
        width: auto;
        height: 400px;
        position: relative;
        left: 25%;
     }

}

@media screen and (max-width: 420px) {
    #imageWrap {
        display: inline-block;
        width: auto;
        height: 400px;
        position: relative;
        left: 25%;
        
     }
} */

