body {
    background-color: rgb(233, 255, 230);
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    color: rgb(59, 9, 105);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    font-size: 50px;
    margin: 20px 0px 0px 0px; 
}

h3 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    color: rgb(3, 58, 10);
    font-size: 36px;
    margin: 30px 0px 0px 0px;
}

h4 {
    font-family: 'Jua', sans-serif;
    text-align: center;
    color: rgb(3, 58, 10);
    font-size: 36px;
    margin: 10px 0px 0px 0px;
}

#h4b {
    margin: 5px 0px 30px 0px;
}

p {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    color: rgb(11, 3, 58);
    font-size: 28px;
    margin: 27px 0px 0px 0px;
}

#row {
    text-align: center;
}

#picContainer {
   height: 420px;
   width: auto;
   text-align: center;
    
}

#imageWrap {
   display: inline-block;
   position: relative;
   width: auto;
   height: 400px;
}

img {
    display: block;  
    height:400px;
}

#compScreen {
    line-height: smaller;
    vertical-align: middle;
    text-align: center;
    z-index: 3;
    height: 55px;
    width: 50px;
    font-family: sans-serif;
    font-size: 60px;
    color: black;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 72.75%;
    top: 4%;
}

/* #rightPanel {
    vertical-align: top;
    display: inline-block;
    text-align: top;
    
} */

#leftPanel {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    line-height: 50px;
}



/* @media screen and (max-width: 1800px) {
    #imageWrap {
        display: inline-block;
        width: auto;
        height: 400px;
        position: relative;
        left: 35%;
     }
}

@media screen and (max-width: 1600px) {
    #imageWrap {
        display: inline-block;
        width: auto;
        height: 400px;
        position: relative;
        left: 35%;
     }

} */

@media screen and (max-width: 980px) {
    #imageWrap {
        display: inline-block;
        width: auto;
        height: 400px;
        position: relative;
        left: 25%;
     }

}

@media screen and (max-width: 420px) {
    #imageWrap {
        display: inline-block;
        width: auto;
        height: 400px;
        position: relative;
        left: 25%;
        
     }
}

